:root {
  font-family: "ABeeZee", cursive, Impact, Haettenschweiler, "Arial Narrow Bold",
    sans-serif;
  font-size: 10px;
  --background-color: #403d39;
  --H-color: #eb5e28;
  --font-color: #ccc5b9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  
  position: relative;
}

body {
  height: 100%;
  background-color: #403d39;
  overflow-x: hidden;
}

/* font-size extra 10px damit ich besser mit rem, em arbeite, mehrere fallback schriftarten hinzugefügt */
.logo-name {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo-txt {
  font-family: "Lilita One", cursive, Impact, Haettenschweiler,
    "Arial Narrow Bold", sans-serif;
  text-decoration: underline #ccc5b9;
  text-shadow: 2px 2px 2px black;
  color: #eb5e28;
  white-space: nowrap;
}

.nav-head {
  width: 100%;
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 5%;
  background-color: #403d39;
  position: fixed;
  box-shadow: 3px 3px 3px black;
}

.nav-bar {
  display: flex;
  
}

nav ul {
  display: block;
}

#nav-toggle:checked + ul {
  display: none;
}

label {
  display: none;
}

input[type=checkbox] {
  display: none;
}

ul {
  display: flex;
  flex-wrap: nowrap;
  
}

.navlink,
li {
  display: inline-block;
  padding: 0 20px;
  margin-left: 3rem;
}

.navlink,
a {
  font-size: 2rem;
  font-family: "Lilita One", cursive, Impact, Haettenschweiler,
    "Arial Narrow Bold", sans-serif;
  text-decoration: none;
  list-style: none;
  cursor: pointer;
  color: #ccc5b9;
}

span {
  color: #eb5e28;
  font-size: 2.5rem;
}

.logo {
  width: 32px;
  height: 32px;
}

.icons,img {
  width: 2rem;
  margin: 1rem;
}

.icons,img:hover {
  transform: scale(1.2);
  transition: transform 0.4s ease-out;
}

.social {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 1rem;
}

/* Hero section */

main {
  width: 100%;
}

.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0;
  height: 50vh;
  border: 3px #eb5e28 groove;
  background-image: url(../image/5.jpg);

  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 4px 4px 4px 3px black;
}

/* main-txt */
.main-txt {
  width: 100vw;
  height: 40rem;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  text-align: left;
}

.qualty-text {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  justify-content: center;
  align-items: center;
}

/* responsive */

/* Navigation */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: none;
}

.menu-item {
  margin-right: 5rem;
}

/* hover-nav */

.navlink a:hover {
  color: #eb5e28;
  transition: 0.4s;
  text-shadow: 3px 3px 3px black;
}

.navlink a:hover span {
  color: #ccc5b9;
  transition: 0.4s;
  text-shadow: 3px 3px 3px black;
}

.main-txt,
h1 {
  font-family: "Lilita One", cursive, Impact, Haettenschweiler,
    "Arial Narrow Bold", sans-serif;
  font-size: 7rem;
  margin: 1rem;
  padding: 0.5rem;
  text-decoration: underline #ccc5b9;
  text-shadow: 3px 3px 3px black;
  color: #eb5e28;
}

.main-txt,
p {
  margin: 1rem;
  padding: 0.5rem;
  font-family: "Indie Flower", cursive, Impact, Haettenschweiler,
    "Arial Narrow Bold", sans-serif;
  color: #fffcf2;
  font-size: 2.5rem;
  text-decoration: none;
  text-align: justify;
}

.text-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-second {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  width: 80%;
  height: 300px;
  margin: auto;
  flex-wrap: wrap;
}

.cards {
  display: flex;
  justify-content: center;
  margin: 5rem 1rem;
}

.contex-sortiment {
  display: flex;
  flex-basis: 100%;
  width: min-content;
  height: 600px;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  text-align: center;
} 

.pizza-img {
  width: 100%; 
  height: 500px;
  min-height: 300px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 2px groove #eb5e28;
  border-radius: 1rem;
  box-shadow: 4px 4px 4px 4px black;
}



.h3-überschrift {
  line-height: 10rem;
  font-size: 3rem;
  text-shadow: none;
  color: #fffcf2;
  background-color: none;
  white-space: nowrap;
}

.h3-span {
  color: #fffcf2;
  font-size: 6.5rem;
}

.grid-container {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  margin: 5rem 2rem;
}

.grid-item {
  overflow: hidden;
  border: 1px solid #fff;
  border-radius: 10px;
  min-height:   500px;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 3px 3px 3px black;
}

.grid-item h3 {
font-family: "Lilita One", cursive, Impact, Haettenschweiler,
"Arial Narrow Bold", sans-serif;
font-size: 5rem;
margin: 1rem;
padding: 0.5rem;
text-decoration: underline #ccc5b9;
text-shadow: 3px 3px 3px black;
color: #eb5e28;
}


.grid-item:nth-child(1) .item-picture {
  background-image: url(../image/Bolognese.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 50%;
  border: 2px groove var(--H-color);
  border-radius: 10px;
  
}

.grid-item:nth-child(2) .item-picture {
  background-image: url(../image/Angebot.avif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 50%;
  border: 2px groove var(--H-color);
  border-radius: 10px;
}

.grid-item:nth-child(3) .item-picture {
  background-image: url(../image/coupon3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 50%;
  border: 2px groove var(--H-color);
  border-radius: 10px;
 
}

.delivery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 500px;
  background-image: url(../image/delivery.jpg);
  margin: 5rem 0;
  background-position: top;
  background-size: cover;
  border: 2px groove #eb5e28;
  box-shadow: 3px 3px 3px black;
}

.delivery h3 {
  font-size: 5rem;
  color: #eb5e28;
  text-shadow: 3px 3px 3px black;
  backdrop-filter: blur(5px);
}

.blur {
  backdrop-filter: blur(2px);
}

.btn {
  display: inline-block;
  font-size: 3rem;
  border: 3px groove #eb5e28;
  border-radius: 10px;
  padding: 1rem 2rem;
  background-color: #403d39;
  color: #eb5e28;
  box-shadow: 3px 3px 10px  black;
  margin-top: 5rem;
}

/* footer */
footer {
  width: 100%;
  
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
  background-color: #ccc5b9;
  position: relative;
}

h4 {
  font-family: "Times New Roman", Times, serif;
  font-size: 2.5rem;
  color: #403d39;
  text-shadow: none;
  background-color: #ccc5b9;
}


.kontakt {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0;
  background-color: #ccc5b9;
}

.öffnungszeiten {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  background-color: #ccc5b9;
}

.copyright {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #ccc5b9;
}

#zeit {
  margin-bottom: 5rem;
}

h5 {
  font-family: "Times New Roman", Times, serif;
  color: #403d39;
  font-size: 1.5rem;
}

.up {
  display: inline-block;
  position: fixed;
  right: 2rem;
  bottom: 2rem;
}

